@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Afacad Flux", serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;

}

.main-content-form {
    flex: 1;
}

.main-content-form form {
    margin-top: 8rem;
}

::placeholder{
    font-weight: 300;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

.source-code {
    display: flex;
}

nav {
    /*background-color: #ff240c35;*/
    cursor: pointer;
}

nav p{
    padding-top: 1rem;
    padding-right: .5rem;
}

.source-code a{
    padding-top: .85rem;
}

:root {
    --primary-color: #ff240c;
    --primary-text: #000;
    --primary-btn: #fff;
}

textarea {
    width: 100%;
}

textarea::-webkit-scrollbar{
    display: none;
}

.create-btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--primary-btn);
    padding: .3rem 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.save.btn {
    margin-top: -5px;
}

.tools {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.achive img {
    padding-right: .3rem;
}

.achive-text {
    color: #000;
}

.note {
    border: 1px solid rgba(128, 128, 128, 0.626);
}

.note input {
    width: 100%;
    border: none;
    outline: none;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: .3rem 1rem;
}

.hide {
    display: none;
}

.error {
    font-weight: 400;
    color: #ff5945;
    text-align: center;
}

.achieve-container {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.bordercontainer,
.bordercontainer2 {
    border: 1px solid rgba(128, 128, 128, 0.653);
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    word-wrap: break-word;
}

.bordercontainer,
.bordercontainer2 {
    margin-top: 2rem;
    position: relative;
}

textarea {
    height: 38px;
    padding: .5rem 1rem;
    outline: none;
    border: none;
}

.delete-btn {
    position: absolute;
    top: -10px;
    right: 20px;
    border: none;
    outline: none;
}

.save-note,
.achive,
.achieve-container-header {
    cursor: pointer;
}

.email,
.password {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.523);
    padding: .1rem 1rem;
}

.success {
    width: 100%;
    background-color: #5cb85c;
    color: #fff;
    padding: .4rem .1rem 0rem .1rem;
    margin-bottom: .6rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    display: none;
}

.header-font {
    text-transform: capitalize;
}

.link-color:active,
.link-span {
    color: #ff240c;
}

form button {
    background-color: var(--primary-color);
    border: none;
    color: var(--primary-btn);
    padding: .3rem 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
}

#login-form,
#sign-up-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login-alt,
.privacy-note {
    text-align: center;
}

footer {
    margin-top: 6rem;
}

.privacy-note {
    font-size: .85rem;
    background-color: #ff240c;
    padding: 4rem 0rem;
    color: #fff;
}

.waving-hand {
    width: 7%;
}

span,
span a {
    color: var(--primary-color);
}

form input {
    outline: none;
    border: none;
    padding: .3rem .8rem;
}

.password {
    margin-top: 1rem;
}

.loading-gif {
    max-width: 500px;
}

.pre-loader {
    position: fixed;
    z-index: 100; 
    top: 0;
    left: 0;
    background: #191f26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pre-loader.hidden {
    animation: fadeOut 5s; /** change to 1s */
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.log-out {
    display: flex;
    padding-left: 1rem;
}




@media screen and (min-width: 770px) {
    .email,
    .password {
        width: 100%;
    }

    .waving-hand {
        width: 3%;
    }

    .store {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .note-keeper .note{
        width: 500px;
        margin: 0 auto;
    }
    
}
